@font-face {
  font-family: RedHatDisplay-SemiBold;
  src: url("../fonts/RedHatDisplay-SemiBold.ttf");
}
@font-face {
  font-family: RedHatDisplay-Bold;
  src: url("../fonts/RedHatDisplay-Bold.ttf");
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: inherit;
  height: inherit;
  background-color: #fff;
}
h1 {
  text-align: center;
  font-family: RedHatDisplay-SemiBold;
  font-weight: 600;
  color: #6B54AB;
}
img {
    display: block;
    width: 251;
    height: 240;
}
